body {
    background-color: #f2f2f2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.main {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    padding: 22px 30px;
    width: 30%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%;
    transition: 0.6s ease-in-out;
}

.main:hover {
    background: #89bdbb;
    color: #fff;
}

.main:hover a {
    background-color: #fff;
    color: #264e58;
}

.main:hover p,
.main:hover h2 {
    color: #fff;
}

.main:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    background: #00000038;
    z-index: 1;
    transition: 0.6s ease-in-out;
    border: 1px solid #ccc;
    opacity: 0;
}

.main:hover:before {
    top: 14%;
    left: 12%;
    transform: translate(-10%, -10%);
    width: 95%;
    height: 90%;
    transition: 0.6s ease-in-out;
    border: 3px solid #264e58;
    border-radius: 15px 0 15px 0;
    background: 0 0;
    opacity: 1;
}

.sub-level a {
    font-size: 12px !important;
    padding: 8px 12px !important;
    margin-left: auto !important;
    margin-top: 0 !important;
}

.main a,
.sub-level a {
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background: #264e58;
    border-radius: 3px;
    color: #fff;
    padding: 10px 25px;
    font-weight: 700;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main p {
    font-size: 16px;
    transition: 0.5s;
    color: #777;
}

.main h2 {
    margin-bottom: 15px;
    font-size: 22px;
    transition: 0.5s;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
}

.sub-level {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    padding: 22px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 6px;
    width: 100%;
    margin: 50px auto;
    transition: 0.5s ease-in-out;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.sub-level h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 700;
    color: #264e58;
    margin-top: 0;
}

.sub-level .progress {
    margin-bottom: 15px;
    height: 4px;
}

.progress {
    border-radius: 3px;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    background-color: #264e58;
}

.sub-level h6 {
    font-size: 14px;
    color: #333;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.d-flex {
    display: flex !important;
    align-items: center;
}

.sub-level:hover:before {
    left: 0;
    right: 0;
}

.sub-level:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #264e58;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/*Side Navigation*/

.navbar {
    padding: 15px 10px;
    background: #fff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #89bdbb;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header {
    padding: 14px 10px;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .sidebar-header img,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active .user-section {
    display: none !important;
}

#sidebar.active .side-menu-link {
    margin-left: 0px;
    font-size: 13px;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 15px 5px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 4px 10px;
    background-color: #264e58;
    text-align: center;
}

#sidebar .sidebar-header .logo {
    width: 120px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.7em;
}

#sidebar ul.components {
    padding: 10px 0;
    /* border-bottom: 1px solid #264e58; */
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #264e58;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #264e58;
    font-size: 14px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.side-menu-link{
    margin-left: 10px;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar.active .user-section .detail {
        display: none !important;
    }

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .sidebar-header img,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .side-menu-link{
        margin-left: 0px;
    }
}

.btn-info {
    background-color: #264e58;
}

.btn-default {
    background-color: #fff !important;
}

.btn-info:hover {
    background-color: #264e58de;
    transform: 0.5s;
}

.btn-default:focus , .btn-default:active{
    outline: none !important;
    box-shadow: none;
}

.custom-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 10px;
}

/*Dropdown*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*User Section*/

.user-section {
    padding: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.user-section img {
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}

.user-section span {
    font-weight: 500;
    margin-left: 10px;
}

.user-section .detail {
    display: inline-block;
}

.user-section .category {
    font-size: 12px;
    font-weight: 300;
}

.nav-link input{
    font-size: 12px;
    border: none;
}

.avatar-title{
    text-transform: capitalize;
}

.page-sub-title{
    color: #000;
    margin-bottom: 10px;   
    font-weight: 700;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-title{
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 0;   
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}

.page-header{
    align-items: center;
    padding-bottom: 20px;
    margin-top: -10px;
}

.btn-primary{
    color: #fff;
    background-color: #392c70;
    border-color: #392c70;
    font-size: 15px;
}

.btn-primary:hover{
    background-color: #2f245f;
    border-color: #2f245f;
    transform: 0.5s;
}

/* Drop Down */

.dropbtn {
    color: #444;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-link{
    padding: 0px !important;
}

.dropdown .user-profile{
    width: 30px;
    border-radius: 50%;
    box-shadow: -2px 3px 6px #eee;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f5f4f4;}

.dropdown:hover .dropdown-content {display: block;}

/* Profile Form */

.user_form{
    padding: 15px;
    margin: 0px auto !important;
}

.user_form span{
}

.user_form label, .user_form input[type=file], .user_form input[type=checkbox]{
    display: block;
    font-size: 14px;
}

#profile_pic-clear_id{
    display: none;
}

.user_form input, .user_form select{
    display: block;
    width: 100%;
    padding: .875rem 1.375rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    margin-bottom: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user_form input[type=submit]{
    color: #fff !important;
    background-color: #392c70 !important;
    border-color: #392c70 !important;
    font-size: 15px !important;
}

.user_form input[type=submit]:hover{
    background-color: #2f245f !important;
    border-color: #2f245f !important;
    transform: 0.5s !important;
    cursor: pointer !important;
}


/* Search Field*/

.input-group-text{
    background: #fff;
    border: none;
}

.search{
    padding-left: 6px !important;
}

.search:focus, .search:active{
    padding-left: 6px !important;
    outline: none !important;
    box-shadow: none;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

