.level_detail_wrap {
    position: relative;
    padding: 40px;
    overflow: hidden;
    background: #fff;
}

.top_content {
    background: #3e3e3e;
    overflow: hidden;
}

.level_detail_wrap .top_content .content_bx {
    padding: 90px 40px;
}

.level_detail_wrap .top_content h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.level_detail_wrap .top_content p {
    color: #fff;
    font-size: 16px;
}

.top_content .imgbx img {
    width: 100%;
    border-radius: 50%;
}

.top_content .imgbx {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    right: -70px;
}

.level_detail_wrap .top_content .btn_opt a {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    background: #89bdbb;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 1200px){
    .top_content .imgbx {
        border: none !important;
        border-radius: 0 !important;
        position: relative;
        top: 0;
        right: 0;
    }
}

/* Quiz Box */

.level_detail_wrap {
    position: relative;
    padding: 40px;
    overflow: hidden;
    background: #fff;
}

.level_detail_wrap .top_content .content_bx_q {
    padding: 90px 40px;
    background: #ffffff;
}

.level_detail_wrap .top_content h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.level_detail_wrap .top_content p {
    color: #fff;
    font-size: 16px;
}

.top_content .imgbx img {
    width: 100%;
    border-radius: 50%;
}

.top_content .imgbx {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    right: -70px;
}

.level_detail_wrap .top_content .btn_opt a {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    background: #89bdbb;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 1200px){
    .top_content .imgbx {
        border: none !important;
        border-radius: 0 !important;
        position: relative;
        top: 0;
        right: 0;
    }
}

.details_progressbar{
    height: 8px;
    border-radius: 3px;
}

.progress-bar-q {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #557a95;
    transition: width .6s ease;
}

.progress .progress-bar-q {
    border-radius: 3px;
}

.level_detail_wrap .middle_content2{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    background-image: url(/static/images/round6.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center;
    border: none !important;
}

.middle_content2 .arrow-left.right {
    right: -50px;
}

.arrow-left.right {
    position: absolute;
    right: -50px;
    font-size: 24px;
    z-index: 100;
    cursor: pointer;
    top: 45%;
    color: #274f59;
    transition: all 0.3s ease-in;
    text-align: center;
    width: 40px;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #274f59;
}

.middle_content2 .arrow-left.left {
    left: -50px;
}

.arrow-left.left {
    position: absolute;
    left: -50px;
    font-size: 24px;
    top: 45%;
    color: #274f59;
    transition: all 0.3s ease-in;
    text-align: center;
    width: 40px;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #274f59;
    z-index: 100;
    cursor: pointer;
}

.level_detail_wrap .bottom_btn a {
    background: #264e58;
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.level_detail_wrap .bottom_btn {
    margin-top: 40px;
}

@media (min-width: 768px){
    .d-md-flex {
        display: flex!important;
    }
}

.level_detail_wrap .middle_content2 .ques_box {
    text-align: center;
    position: relative;
    top: 15%;
}

.level_detail_wrap .middle_content .ans {
    text-align: center;
    position: relative;
    top: 30%;
}

.slideshow-container {
    position: relative;
}
  
.mySlides {
    display: none;
    text-align: center;
}   

.mySlides p{
    color: #264e58 !important;
    font-size: 110px !important;
    margin-top: -20px;
    text-decoration: none !important;
    position: relative;
    z-index: 100;
}

.mySlides p:hover{
    cursor: pointer;
}

.levelup{
    display: none; 
    text-align: center; 
    margin-top: -30px;
}

.levelup .fin{
    font-weight: bold;
    line-height: 30px;
    color: #333 !important;
}
