.carousel {
    position: relative;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
}

.login_box {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0%,-50%);
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    border-radius: 10px;
    padding: 44px;
    min-width: 400px;
}

@media (min-width: 576px){
    .login_box {
        min-width: auto;
        left: 50px;
    }
}

.logo_x{
    vertical-align: middle;
    width: 200px;
    height: 150px;
}

.login_box .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login_box .btn_link {
    color: #2b4d7a;
    font-size: 12px;
    font-weight: 600;
}


.login_box .btn_optn .btn_design {
    background: #2b4d7a;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    margin-top: 35px;
    margin-bottom: 20px;
}