{% extends "users/base.html" %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- <h3>Sidebar</h3> -->
            <img class="logo" src="/static/images/logo.png" alt="EduTherapeutics" />
            <strong>EDU</strong>
        </div>

        <div class="user-section">
            {% if user.userprofile.profile_pic %}
                <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
            {% else %}
                <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
            {% endif %}
            <div class="detail">
                <span class="avatar-title">{{user.username}}</span><br />
                <span class="category">Student</span>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span class="side-menu-link">Dashboard</span>
                </a>         
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-default">
                    {% comment %} <i class="fas fa-align-left"></i> {% endcomment %}
                    <i class="fas fa-bars"></i>

                    <!-- <span>Menu</span> -->
                </button>
                <div class="nav-link mr-auto ml-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control search" placeholder="Search" aria-label="Search">
                    </div>
                </div>
                <div class="nav-link ml-auto">
                    <div class="dropdown">
                        {% if user.userprofile.profile_pic %}
                            <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
                        {% else %}
                            <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
                        {% endif %}
                        <img style="width: 12px;" src="/static/images/chevron.png">
                        <div class="dropdown-content">
                            <a href="/users/{{user.userprofile.id}}/my_profile/"><i style="color: #392c70;" class="fas fa-cog"></i> Settings</a>
                            <a href="/logout/"><i style="color: #392c70;" class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="custom-row">
            <div class="page-header container-fluid">
                <h6 class="page-sub-title">Hello, {{user.username}}</h6>
                <h3 class="page-title">
                    Courses List
                </h3>
            </div>
        </div>

        <div class="custom-row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="main">
                    <h2>Level 1</h2>
                    <p>Sub-Levels: 29</p>
                    <a href="/sub_level/">Continue</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="main">
                    <h2>Level 2</h2>
                    <p>Sub-Levels: 29</p>
                    <a href="#">Continue</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="main">
                    <h2>Level 3</h2>
                    <p>Sub-Levels: 3</p>
                    <a href="#">Continue</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="main">
                    <h2>Level 4</h2>
                    <p>Sub-Levels: 4</p>
                    <a href="#">Continue</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="main">
                    <h2>Level 5</h2>
                    <p>Sub-Levels: 3</p>
                    <a href="#">Continue</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
{% else %}
    <div style="text-align:center;margin:50px auto;">
        <h2>Register or Login if you'd like to</h2>
        {% comment %} <a>Register</a> {% endcomment %}
        <a href="/users/user_login/">Login</a>
    </div>
{% endif %}
{% endblock %}