{% extends "users/base.html" %}
{% block style_files %}
    <link rel="stylesheet" href="/static/css/levels.css">
{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- <h3>Sidebar</h3> -->
            <img class="logo" src="/static/images/logo.png" alt="EduTherapeutics" />
            <strong>EDU</strong>
        </div>

        <div class="user-section">
            {% if user.userprofile.profile_pic %}
                <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
            {% else %}
                <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
            {% endif %}
            <div class="detail">
                <span class="avatar-title">{{user.username}}</span><br />
                <span class="category">Student</span>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span class="side-menu-link">Dashboard</span>
                </a>         
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-default">
                    {% comment %} <i class="fas fa-align-left"></i> {% endcomment %}
                    <i class="fas fa-bars"></i>

                    <!-- <span>Menu</span> -->
                </button>
                <div class="nav-link mr-auto ml-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control search" placeholder="Search" aria-label="Search">
                    </div>
                </div>  
                <div class="nav-link ml-auto">
                    <div class="dropdown">
                        {% if user.userprofile.profile_pic %}
                            <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
                        {% else %}
                            <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
                        {% endif %}
                        <img style="width: 12px;" src="/static/images/chevron.png">
                        <div class="dropdown-content">
                            <a href="/users/{{user.userprofile.id}}/my_profile/"><i style="color: #392c70;" class="fas fa-cog"></i> Settings</a>
                            <a href="/logout/"><i style="color: #392c70;" class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="custom-row">
            <div class="page-header container-fluid">
                <h3 class="page-title">
                    Level 1.1 Introduction Task
                </h3>
                <a class="float-right" href="/sub_level/"><input type="button" class="btn btn-primary" value="Sub Levels"></a>
            </div>
        </div>

        <div class="course_wrap">
            <input type="hidden" class="studentId" value="65">
            <div class="custom-row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="level_detail_wrap">
                        <div class="top_content">
                            <div class="row info">
                                <div class="col-xl-8 col-lg-12 order-2 order-xl-1">
                                    <div class="content_bx">
                                        <h3>
                                        Level 1.1 Introduction Task
                                        </h3>
                                        <p></p><p><strong>Trainer Instructions</strong></p>
                                        <p>1. Trainer voice says sound of symbol while Student looks at the screen.</p>
                                        <p>2. Student repeats sound and Trainer presses NEXT to go to the next symbol.</p>
                                        <p>3. Trainer will have Student repeat the exercise multiple times with Trainer voice.</p>
                                        <p>4. Trainer can repeat activity and have Student say the sound without verbal prompt.</p><p></p>
                                        <div class="btn_opt mt-3">
                                            <input type="hidden" class="sub_level_ids" value="1">
                                            <a href="javascript:void(0);" id="lets_start" level-id="1">Let's Go</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 order-1 order-xl-2">
                                    <div class="imgbx">
                                        <img width="100%" src="https://edu-therapeutics.com/lap/public/frontend/images/others/styudy-boy.jpg">
                                    </div>
                                </div>
                            </div>
                            <!-- Questions -->
                            <div style="display: none;" class="row quiz">
                                <div class="col-xl-12 col-lg-12 order-2 order-xl-1">
                                    <div class="progress details_progressbar">
                                        <div class="progress-bar-q" style="width:100%; border-radius: 3px ;" aria-valuemax="100"></div>
                                    </div>
                                    <div class="content_bx_q middle_content2">
                                        <div class="bottom_btn d-md-flex justify-content-md-between ques_btn next-prev-btn">
                                            <div class="arrow-left left prev" onclick="plusSlides(-1)" id="prev-question-level-func" sub-lev="1" prev="1" data-attr="1">
                                                <i class="fa fa-angle-left"></i>
                                            </div>

                                            <div class="arrow-left right" onclick="plusSlides(1)" id="next-question-level" data-attr="1" sub-lev="1" cur="2">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>         
                                        <div class="slideshow-container">                                        
                                            <div class="mySlides">
                                                <p class="ans">a</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">m</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">t</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">f</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">i</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">b</p>
                                            </div>
                                            <div class="mySlides">
                                                <p class="ans">s</p>
                                            </div>                                            
                                        </div>    
                                        <div class="levelup">
                                            <img src="/static/images/thumbs-up.png" >
                                            <h3 class="fin">Congrats! Your level has been completed.</h3>
                                        </div>                                                             
                                    </div>
                                    
                                    <div class="bottom_btn d-flex ques_btn next-prev-btn">
                                        <a href="/level_questions/" class="mr-auto btn-redo">Redo</a>
                                        <a href="/sub_level/" class="ml-auto btn-complete">Complete Later</a>
                                        <a href="/sub_level/" class="ml-auto btn-done">Done</a>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                            <div id="question-data"></div>
                            <div class="audio_player mt-3">

                            <audio autoplay="" controlslist="nodownload" loop="" id="vid" style="width: 100%;">
                                <source src="https://lap.edu-therapeutics.com/public/audio/1573537973_Asilomar .wav" type="audio/wav">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% else %}
    <h2>Register or Login if you'd like to</h2>
{% endif %}
{% endblock %}

{% block script_codes %}
<script>
    $(document).ready(function(){
        $('.btn-redo').hide();        
        $('.btn-done').hide(); 

        $('#lets_start').on('click', function(){
            $('.top_content').css('background', '#ffffff')
            $('.info').hide();
            $('.quiz').show();
        });

        $('.ans').on('click', function(e){
            $(this).css('font-weight', 'bold');
        });
    });
</script>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var scon = document.getElementsByClassName("slideshow-container");
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slides[slideIndex-1].style.display = "block";  
        if (n == slides.length + 1) { 
            console.log('finish');
            $('.slideshow-container').hide();
            $('.levelup').show();
            $('.left').hide();
            $('.right').hide();
            $('.btn-complete').hide();        
            $('.btn-redo').show();        
            $('.btn-done').show();        
        }
    }
</script>
{% endblock %}