{% extends 'users/base.html' %}
{% block login_block %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">            
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                style="background-image: url('/static/images/11.jpg')">                    
            </div>
            <div class="carousel-item" style="background-image: url('/static/images/13.jpg')">                
            </div>
            <div class="carousel-item" style="background-image: url('/static/images/14.jpg')">                
            </div>
        </div>           
    </div>
    <div class="login_box">
        <img class="logo_x" src="/static/images/logo-x.png" alt="logo">
        <form method="post" id="frm" action="{% url 'users:user_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input id="email" type="text" class="form-control" name="username" placeholder="Email/Username" value="" required="" autofocus="">
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" placeholder="Password" name="password" required="">
            </div>
            {% comment %} <div class="form-group">
                <input type="hidden" name="g-recaptcha-response">            
            </div> {% endcomment %}
            <div class="text-left">
                <a href="#" class="btn_link">Forgot Password?</a>
            </div>
            <div class="text-center btn_optn">
                <input class="btn btn-info btn-md btn-block btn_design" type="submit" name="" value="Login">
            </div>                
        </form>
    </div>
</header>
{% endblock %}

