{% extends "users/base.html" %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- <h3>Sidebar</h3> -->
            <img class="logo" src="/static/images/logo.png" alt="EduTherapeutics" />
            <strong>EDU</strong>
        </div>

        <div class="user-section">
            {% if user.userprofile.profile_pic %}
                <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
            {% else %}
                <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
            {% endif %}
            <div class="detail">
                <span class="avatar-title">{{user.username}}</span><br />
                <span class="category">Student</span>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span class="side-menu-link">Dashboard</span>
                </a>         
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-default">
                    {% comment %} <i class="fas fa-align-left"></i> {% endcomment %}
                    <i class="fas fa-bars"></i>

                    <!-- <span>Menu</span> -->
                </button>
                <div class="nav-link mr-auto ml-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control search" placeholder="Search" aria-label="Search">
                    </div>
                </div>
                <div class="nav-link ml-auto">
                    <div class="dropdown">
                        {% if user.userprofile.profile_pic %}
                            <img class="user-profile" src="{{user.userprofile.profile_pic.url}}" alt="user-avatar" />
                        {% else %}
                            <img class="user-profile" src="/static/images/avatar.png" alt="user-avatar" />
                        {% endif %}
                        <img style="width: 12px;" src="/static/images/chevron.png">
                        <div class="dropdown-content">
                            <a href="#"><i style="color: #392c70;" class="fas fa-cog"></i> Settings</a>
                            <a href="/logout/"><i style="color: #392c70;" class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="custom-row">
            <div class="page-header container-fluid">
                <h3 class="page-title">
                    My Profile
                </h3>
            </div>
            <form action="" method="POST" class="user_form m-auto">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ user_form.as_table }}
                    </div>
                    <div class="col-md-6">
                        {{ form.as_table }}
                    </div>
                </div>
                {% if user.userprofile.profile_pic %}
                    <img src="{{user.userprofile.profile_pic.url}}">
                {% else %}
                    <img src="/static/images/avatar.png">
                {% endif %}
                <br><br>
                <input class="btn-primary" type="submit" value="Update">
            </form>
        </div>
        
    </div>
</div>
{% else %}
    <h2>Register or Login if you'd like to</h2>
{% endif %}
{% endblock %}